#presentation {
    width: 75%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    background-color:  rgba(21, 34, 50, 0.9);
}

#contact {
    width: 75%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    background-color:  rgba(21, 34, 50, 0.9);
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact a:hover {
    text-decoration: underline;
}